* {
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
   
  
}

.body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  display:flex;
  background-color: black;
  
  
}

.grid-image-A{
  display:flex;
  width: 90px;
  

  
  
}

.grid-image0 {
  padding:1rem;
  width:100%;
  display:flex;
  
}

.container1 {
 display: flex;
 width: 100%;
 flex-wrap: wrap;

}

.grid-image1{
  display:flex;
  flex-wrap: wrap;
  width: 50%;
  
  
}
.grid-image2{
  display:flex;
  flex-wrap: wrap;
  width: 50%;
  
}
.grid-image3{
  display:flex;
  justify-content: space-evenly;
  width: 50%;
  flex-wrap: wrap;
}
.grid-image4{
  display:flex;
  justify-content: space-evenly;
  width: 50%;
  flex-wrap: wrap;
}
  

header h1 {
  font-size: 3.5rem;
  background-color: white;
  color:slategray;
  padding: 5px 15px 5px 0px;
}
.header {
background-color:slategray;
  align-items:center;
  display:flex;
  justify-content:space-between;
  padding:1rem;
  flex-wrap:wrap
}
.hero-banner {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0%;
  padding:0%;
background-image: url(../images/02-hero-bg.jpg);
background-repeat: no-repeat;
background-position: center;
background-size:100%;
background-attachment: fixed;
min-height: 250px;
position:relative;
}
.hero-banner .container{
  position:relative;
  width: 100%;
  max-width: 1240px;
  height: 100%;
  min-height: 250px;
}
.hero-title {
  position: absolute;
  right: 0;
  bottom: 20px;
  background-color: slategray;
  padding: 1rem 2rem;
  color: white;
  font-size: 42px;

}
nav { 
  display:flex;
  flex-wrap:wrap;
  }
nav a {
  text-decoration: none;
  font-size: 28px;
  padding:1rem;
  color: white;
  margin-right:12px;
  background-image: linear-gradient(to bottom,white 0%,white 100%);
  background-repeat: no-repeat;
  background-size: 100% 6px; 
  background-position:bottom;
}
nav a:hover {
  color: blue;
  border-bottom: 3px solid;
}

.hero-banner h2 {
  display:flex;
  align-content: flex-start;
  justify-content: flex-start;
  padding:1rem;

}
.page-section {
  display:flex;
  justify-content: space-between;
  align-items: stretch;
  padding:1rem;
  margin:1rem 0;
}
.page-section h3  {
  flex: 0 0 15%;
  text-align: right;
  padding-right: 1rem;
  border-right: 3px solid black;
  font-size:32px;
  color:rgb(9, 9, 9);
  line-height: 1.25;
}
.page-section div {
  flex: 0 0 80%;
}
  p {
    background-color: black;
    color:white;
  text-align: left;
  padding:0 25px;
  font-size: larger;
 
  }

  
.page-section h4  {
  display:flex;
  color:white;
  background-color:slategray;
  justify-content: center;
  padding:1rem;
  font-size: 32px;
}

.page-section-about {
  display:flex;
  flex-wrap: wrap;
 
}

main {
  width:100%;
  margin:0 auto;
  padding: 0  4rem;
  display:flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
 
#about div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  max-width: 1200px;
  font-size: 24px;
}
#about img {
  height:100%;
  width:auto;
  display:block;
  padding:0;
  background-color:blueviolet;
  margin-right:25px;


}
.page-section h5  {
  display:flex;
  justify-content: center;
  padding:1rem;
  font-size: 32px;
  background-color: slategray;
}

.contact p {
  flex: 0 0 15%;
  text-align: center;
  padding-right: 0rem;
  border-right: 3px solid black;
  font-size:32px;
  color:rgb(216, 203, 203);
  line-height: 1.25;
  }



